html {
  height: 100%;
  width: 100%;
}
body { font-family: 'Crimson Text', serif;
     background-color: #E5F5FA;
      }

.pazinojums {
  font-family: 'Crimson Text', serif;
  color: #1E495B;
  margin-top: 30px;
}

header {
  background-color: #AED0E7;
  padding: 15px;
  text-align: center;
  margin: 0;
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
}

nav a {
  text-decoration: none;
  color: white;
  background-color: #66A0C8;
  padding: 10px 15px;
  margin: 10px;
  border-radius: 5px;
  display: inline-block;
  }

main {
  padding: 20px;
  max-width: 600px;
  margin: auto;
  text-align: center;
}

footer {
background-color: #AED0E7;
  text-align: center;
  padding: 15px;
  margin-top: 30px;
  font-weight: bold;
}

ul li {
  margin-bottom: 10px;
}


h2 {
  padding: 10px;
  max-width: 200px;
  margin: auto;
  
}